.app{
  margin: 0;
}
.btn{
  display:grid;
  grid-template-columns: 2fr 1fr 0.1fr 1fr 2fr 
}
.btn2{
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  user-select: none;
  text-align: center;
  width: 200px;
  margin: 10px auto;
  background-color: rgb(241, 129, 37);
  color: rgb(255, 255, 255);
  box-shadow: 5px 8px 17px  rgb(150, 150, 150);
}
.btn2:hover{
background-color: rgb(151, 151, 149);
color: rgb(255, 255, 255);
border: none;
box-shadow: 7px 9px 17px  rgb(78, 77, 77);
}
.banner1{
  position: absolute; 
  top:-5%; 
  left: 5%; 
  font-size: 18px; 
  color:rgb(255, 255, 255)
}
.banner2{
  position: relative
}
.banner3{
  position: absolute; 
  bottom: 7%; 
  right: 7%; 
  font-size: 18px; 
  color:rgb(255, 255, 255);
  text-align: center;
}
.h5{
  font-size: 35px;
}

ul {
  list-style: square inside url("../public/ul.jpg");
}
li{
  padding: 10px;
  font-size: 20px;
}

img{
  width: 100%;
}

.imgS{
  max-width: 100%;
}
.grid3col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid3col2{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.grid2col{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.border2storoni{
  border-radius: 30% 5%;
}

.center-div{
  border: 1px solid rgb(219, 216, 216); 
  width: 50%; 
  margin:10px auto ;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
}
.center-div2{
  border: 1px solid rgb(219, 216, 216); 
  width: 90%; 
  margin:1px auto ;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
}

h2, h3{ 
 color: rgb(0, 0, 0);
 text-align: center;
}

.textOrange{ 
  color: rgb(241, 129, 37);
  text-align: center;
 }

.liSection{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
width: 100%;
}
.imgLi{
  width: 100%;
}

span{
  color:rgb(140, 139, 139)
}

details > summary {
  padding: 5px;  
  color: #333;  
  cursor: pointer;
  list-style: none;
}
details > div { 
  padding: 10px;
}
details[open] > summary { 
color:rgb(241, 129, 37);
font-weight: bold;
}
summary:before {
content: "+";
font-size: 20px;
font-weight: bold;
margin: -5px 5px 0 0;
}
details[open] summary:before {
content: "-";
} 
.otstup{
  margin-left: 20%;
}

footer{
  display: grid;
  grid-template-columns: 2fr 1fr ;
  background-color: rgb(241, 129, 37);
  padding: 7px;
  padding-left: 50px;
  padding-right: 50px;
  color:rgb(255, 255, 255);
  font-weight: 700;
} 